---
layout: default
---


    <!-- column 1 start! -->
    <div class="row">

<div id="items">
  <input type="text" id="myInput" onkeyup="searchGame()" placeholder="Search for a game..">

        <table id="main-table">
          <tr class="header">
            <tr>
                <th data-field="name">Name</th>
                <th data-field="handheld">Handheld</th>
                <th data-field="docked">Docked</th>
                <th data-field="dscaling">Dynamic</th>
                <th data-field="fps">FPS</th>
                <th data-field="verified">Verified</th>
                <th data-field="note">Notes</th>
            </tr>

              {% for entry in site.data.games %}
                  <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.handheld }}</td>
                    <td>{{ entry.docked }}</td>
                    <td>{% if entry.dscalingd %}{{ entry.dscaling }}{% endif %}</td>
                    <td>{{ entry.fps }}</td>
                    <td>{% if entry.verified %} <a href='{{ entry.verified }}' target='_blank'>Yes</a> {% else %} No {% endif %}</td>
                    <td>{% if entry.note %}{{ entry.note }}{% endif %}</td>
                    
                  </tr>
        {% endfor %}
      </tr>
    </table>
</div>

        </div><!-- close main card div -->
