---
layout: default
---


    <!-- column 1 start! -->
    <div class="row">

<div id="items">

  


  
        <table id="main-table" class="display">
          <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="handheld">Handheld</th>
                <th data-field="docked">Docked</th>
                <th data-field="dscaling">Dynamic</th>
                <th data-field="fps">FPS</th>
                <th data-field="verified_status">Verified</th>
                <th data-field="notes">Notes</th>
              </tr>
            </thead>

            <tbody>
              {% for entry in site.data.games %}
                  <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.handheld }}</td>
                    <td>{{ entry.docked }}</td>
                    <td>{% if entry.dscaling == true %} <i class="fas fa-check"></i>  {% else %} <i class="fas fa-times"></i> {% endif %}</td>
                    <td>{{ entry.fps }}</td>
                    <td>{% if entry.verified_status == true %}<i class="fas fa-check"></i> <a href='{{ entry.verified_url }}' target='_blank'><i class="fas fa-external-link-alt"></i></a> {% else %} <i class="fas fa-times"></i> {% endif %}</td>
                    <td>{% if entry.notes %} {{ entry.notes }} {% endif %}</td>
                    
                  </tr>
            {% endfor %}
      </tbody>

    </table>
</div>

        </div><!-- close main card div -->
