<header>
  <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Switch specs by Canitia
  </a>
</nav>
  <img src="images/nintendo_switch_logo.png"  alt="header" class="content-images circle">
  <p class="sitedescription">This site is a way for Nintendo Switch users to check the technical side of the games. <br /> What is the expected resolution/framerate and are there any performance issues.</p>  
  <div class="socialfooter text-center">
      <a href="https://github.com/boumannm/switch" target="blank"><i class="fab fa-github fa-2x"></i></a>

      <a href="https://twitter.com/boumannm" target="blank"><i class="fab fa-twitter fa-2x"></i></a>

  </div>
</header>
