<header>
  <img src="images/nintendo_switch_logo.png"  alt="header" class="content-images circle">
  <p class="sitedescription">This site is a way for Nintendo Switch users to check the technical side of the games. <br /> What is the expected resolutions/framerate and are there any performance issues.</p>  
  <div class="socialfooter text-center">
      <a href="https://github.com/boumannm/switch" target="blank"><i class="fab fa-github"></i></a>

      <a href="https://twitter.com/boumannm" target="blank"><i class="fab fa-twitter"></i></a>

  </div>
</header>
