/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.sitedescription {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    /*border-top: 1px solid $grey-color-light;*/
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/* **************************************

  General settings

*****************************************/
html body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0;
}

strong {
  font-weight:bold !important;
}

h1 {
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
  color: #1e88e5 !important;
}
h2, h3, h4 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
  color: #1976d2 !important;
}
p {
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}

table {
  width: 100%;
  color: black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

table a {
  color: white;
}

th {
  border: none;
  border-style: hidden;
}

th, 
td {
  padding-top: 15px;
  padding-bottom: 15px;
}


tr {
  margin:20px;
  border-bottom: 1px solid #ebebeb;
}

.logo {
  width: auto;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
}

input.search {
  margin-top: 35px !important;
  margin-bottom:20px !important;
}

.row {
  width: 100%;
}

/* **************************************

  HEADER

*****************************************/
header {
  background-color: #D20014 !important;
  padding-bottom:35px;
  width: 100%;
}

/* **************************************

  SOCIALS

*****************************************/

.svg-inline--fa.fa-twitter.fa-w-16, .svg-inline--fa.fa-github.fa-w-16 {
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-twitter {
   background:#00aced;
}

.fa-github {
  background: black;
}

.fa-twitter:hover {
  background:#1E88E5;
}

.fa-github:hover {
  background: #474747;
}

.socialfooter a i {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.fa-check {
  color: #D20014 !important;
}


/* **************************************

  CONTENT

*****************************************/

@media only screen and (max-width: 576px) { 
  
  body {
    font-size: 14px !important;;
  }

  #main-table {
    width: 100%;
  }

  #items {
    width: 100%;
  }
}


/* medium width devices */
@media only screen and (max-width: 770px) {

    header .blogdescription {
        display: none;
    }


    footer .blogdescription {
        color: white;
        text-overflow: ellipsis;
    }

    h1 {
    	font-size: 28px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.3999996185303px;
    }
    
  }