/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.sitedescription {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    /*border-top: 1px solid $grey-color-light;*/
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.navbar-default {
  background-color: #1976d2 !important;
}

.navbar-nav {
  float:right !important;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
}

a {
  color:black;
  text-decoration: underline !important;
}

.navbar-brand {
  color: black !important;
  text-decoration: none !important;
}

.site-title, .page-link{
color:white !important;
}

.icon-div {
  width: 100%;
}

.platform-icons {
  text-align:right;
}

.card {
  padding: 10px !important;
}

p.titlecss {
  font-size:18px;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

table a, .article a {
  color: black !important;
}

a:hover {
  color: #1976d2 !important;
}

tr {
  margin:20px;
  border-bottom: 1px solid #ebebeb;
}

ul li {
  list-style-type: none;
}

.navbar-header {
    color: white;
    font-size: 24px;
    /* bottom: 0; */
    position: relative;
    height: 75px;
    float:none;
    padding:10px;
    top:0;
}

.fa {
  margin-left:5px;
  margin-right:5px;
}

.platforms {
  margin-top: 10px;
  margin-left: 10px;
}

.article {
  border: 1px solid #ebebeb;
}

.info {
  border-top: 1px solid #ebebeb;
  padding: 10px;
}

 @include media-query($on-palm) {
     .navbar-nav {
         display:none !important;
    }
 }

 @include media-query($on-laptop) {
     .navbar-nav {
         display:none !important;
    }
 }


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

h4.title {
  font-size: 24px;
}

h4.title a {
  color: black;
}

#nav-mobile > li > a, #nav-mobile > li > a:hover {
  color: white;
}

#bottomNav {
	padding:10px;
  height:50px;
}
#bottomNav a {
    font-size:16px;
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}

.logo {
  width: auto;
  max-height: 100px;
  position: absolute;
  right: 30px;
  top: 5px;
  z-index: 2;
}

input.search {
  margin-top: 35px !important;
  margin-bottom:20px !important;
}

/* new CSS copied from michaelboumann.info */
/* **************************************

  General settings

*****************************************/
html body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0;
}

strong {
  font-weight:bold !important;
}

h1 {
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
  color: #1e88e5 !important;
}
h2, h3, h4 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
  color: #1976d2 !important;
}
p {
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}

table {
  width: 100%;
  color: black;
  padding: 5px;
}

table a {
  color: white;
}

th {
  border: none;
  border-style: hidden;
}

td {
  padding: 10px;
  border-bottom: 1px dotted grey;
}

main {
  background-color: white;
  margin-bottom:-15px;
  margin-top: -7px;
  padding-top:18px;
}



/* **************************************

  HEADER

*****************************************/
header {
  background-color: #D20014 !important;
  padding-bottom:35px;
  width: 100%;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: white !important;
}

.tabs .tab a {
  color: white !important;
}

header > div.col.s12 > ul > li > a:hover {
  border-bottom: 2px solid white;
}

.tabs .indicator {
    background-color: white !important;
}

.tabs {
  background-color: #D20014;
}

.language-nav {
  position: absolute;
  right: 0;
}

/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    padding-bottom:15px;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: height 1.0s;
    -moz-transition: height 1.0s;
    -ms-transition: height 1.0s;
    -o-transition: height 1.0s;
    transition: height 1.0s;
}

footer a {
  color: white !important;
}

footer .blogdescription {
    color: white;
    text-overflow: ellipsis;
    padding: 20px;
}

.socialfooter {

  display: block;
  text-align: center;

}

.svg-inline--fa.fa-twitter.fa-w-16, .svg-inline--fa.fa-github.fa-w-16 {
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-twitter {
   background:#00aced;

}

.fa-github {
  background: black;
}

.fa-twitter:hover {
  background:#1E88E5;
}

.fa-github:hover {
  background: #474747;
}

.socialfooter a i {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}



/* **************************************

  CONTENT

*****************************************/
.row {
  padding-left: 35px;
  padding-right:35px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px !important;
  top: -50px;
}

/* big images inline */
.content-images {
    height: 200px;
    padding-top:15px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.active-projects > a > img {
  width: auto;
  max-width: 100%;
  height:150px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  filter: grayscale(40%);
  border: 3px solid white;
}

.active-projects > a > img:hover {
  filter: grayscale(0%);
}

.inactive-projects > a > img {
  width: auto;
  max-width:100%;
  height:150px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  filter: grayscale(100%);
  border: 3px solid white;
}

.btn-flat {
  border: 1px solid grey !important;
}

.badge > a {
  color: white !important;
}

span.badge.new {
  background-color: #1976d2 !important;
}

/* company logos */
img.userprofileimages {
  margin-top: 10px;
  margin-bottom:10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  height: 70px;
  width: auto;
  filter: grayscale(100%);
}

img.userprofileimages:hover {
  filter: grayscale(0%);
}

.divider {
  clear: both;
}

nav {
  box-shadow: 0 !important;
}

/* icons on table*/
a i {
    color: black;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.screenshots-home {
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}


/* medium width devices */
@media only screen and (max-width: 770px) {

    header .blogdescription {
        display: none;
    }


    footer .blogdescription {
        color: white;
        text-overflow: ellipsis;
    }

    h1 {
    	font-size: 28px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.3999996185303px;
    }
  }
